<div class="cart-page">
<h2>cart-page</h2>
<div class="row">
<div class="col-sm-8 detail">
<ul >
    <li>
       
    </li>
    <li>
        <span>product name</span>
    </li>
    <li>
        <span>price:5000</span>
    </li>
    <li>
        <span>quantity:2</span>
    </li>
    <li>
        <button>Remove To Cart</button>
    </li>
</ul>

</div>
<div class="col-sm-4 summary">
<h3>Summary</h3>
<ul>
    <li>
        <span>Amount</span><span>5000</span>
    </li>
    <li>
        <span>Tax</span><span>40</span>
    </li>
    <li>
        <span>Delivery</span><span>50</span>
    </li>
    <li>
        <span>Discount</span><span>60</span>
    </li>
    <li>
        <span><h4>Total</h4></span><span>5100</span>
    </li>
</ul>
</div>
</div>
</div>
