<!-- <!-- <br>
<form [formGroup]="loginForm"  class="f2">
    
    <div class="container">
        <P class="p1">Seller sign-up form</P>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname"  formControlName="uname" >

      <label for="psw"><b>Password</b></label> -->
      <!-- <input type="password" placeholder="Enter Password"  name="psw"  formControlName="psw" >
      
      <button type="submit"(click)="onsubmit()">Login</button>
      <label>
        <input type="checkbox" checked="checked"name="remember">
      </label>
    </div>
  </form>
   --> -->